.card {
    overflow: hidden;
  }
  
  .card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
  }
  
  .card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }
  .cardEffects {
    cursor: pointer;
    border: 1px solid #ccc;
    transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
  }
  .cardEffects:hover {
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
    transform: translateY(-5px);
  }
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    background-color:transparent;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .form-control:focus, .form-control:active {
    background: transparent;
}